body{

    background-image: url(assets/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;


    display: flex;
    justify-content: center;
    min-height: 108vh;
    align-items: center;

    
}

.clock-container{ 

    



}

.clock{

    color: rgb(210, 228, 208);
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 3px 5px rgb(38, 46, 35);
    text-align: center;


}